<%= render 'requests/confirm/online_access' %>

<%= bootstrap_form_tag url: request_submit_path, method: :post do |f| %>

  <%= f.hidden_field :item_pid, id: 'requestItemPid' %>
  <%= f.hidden_field :holding_id, id: 'requestHoldingId' %>
  <%= f.hidden_field :mms_id, id: 'requestMmsId' %>

  <%= f.text_field :selection,
                   label: 'Selection',
                   disabled: true %>

  <ul class="list-group">
    <li class="list-group-item">
      <h3 class="list-group-item-heading">
        <label>
          <input type="radio" name="delivery" value="pickup" id="pickup-radio" class="delivery-option-radio" checked /> Pickup at Penn</label>
      </h3>
      <p class="list-group-item-text"><%= t('requests.delivery_messages.pap_html') %></p>
      <%# for future use, in the after-times %>
      <%#= f.select :pap_location, ['Van Pelt Library'], { label: 'Pickup Location' }, { disabled: false } %>
    </li>
    <li class="list-group-item">
      <h3 class="list-group-item-heading">
        <label>
          <input type="radio" name="delivery" value="mail" id="mail-radio" class="delivery-option-radio" /> Mail Delivery</label>
      </h3>
      <p class="list-group-item-text"><%= t('requests.delivery_messages.bbm_html') %></p>
      <%= f.form_group :bbm_confirm do %>
        <%= f.check_box :bbm_confirm,
                        id: 'bbm_validation_checkbox',
                        label: 'I am a registered Books by Mail user',
                        disabled: true,
                        required: true %>
      <% end %>
    </li>
  </ul>
<% end %>
