<%= bootstrap_form_tag url: request_submit_path, method: :post do |f| %>

  <%= f.hidden_field :item_pid, id: 'requestItemPid' %>
  <%= f.hidden_field :holding_id, id: 'requestHoldingId' %>
  <%= f.hidden_field :mms_id, id: 'requestMmsId' %>
  <%= f.hidden_field :delivery_method, id: 'requestDeliveryMethod' %>

  <div class="alert alert-info">
    <%= t('requests.delivery_messages.pap_html') %>
  </div>
  <%= f.text_field :selection,
                   label: 'Selection',
                   disabled: true %>

<% end %>
