<%= bootstrap_form_tag url: request_submit_path, method: :post do |f| %>

  <%= f.hidden_field :item_pid, id: 'requestItemPid' %>
  <%= f.hidden_field :holding_id, id: 'requestHoldingId' %>
  <%= f.hidden_field :mms_id, id: 'requestMmsId' %>
  <%= f.hidden_field :delivery_method, id: 'requestDeliveryMethod' %>

  <div class="alert alert-warning">
    <%= t('requests.delivery_messages.digi_html') %>
  </div>

  <%= f.text_field :selection,
                   label: 'Selection',
                   disabled: true %>
  <%= f.text_field :section_title,
                   label: t('requests.fields.section_title'),
                   help: t('requests.help.section_title'),
                   required: true %>
  <%= f.text_field :section_author,
                   label: t('requests.fields.section_author'),
                   help: t('requests.help.section_author'),
                   required: true %>
  <%= f.text_field :section_pages,
                   label: t('requests.fields.section_pages'),
                   help: t('requests.help.section_pages') %>
  <%= f.text_field :section_volume,
                   label: t('requests.fields.section_volume'),
                   help: t('requests.help.section_volume'),
                   value: params[:volume] %>
  <%= f.text_field :section_issue,
                   label: t('requests.fields.section_issue'),
                   help: t('requests.help.section_issue'),
                   value: params[:issue] %>

  <a href="#" id="toggle-proxy-input">Proxy Request?</a>

  <div class="proxy-input hidden">
    <%= f.text_field :deliver_to, label: 'Deliver To' %>
  </div>
  
<% end %>
