<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function() {
            function validateForm(submitEvent) {
                // build array of the search fields for which user has entered a search term
                var populatedFields = $(".advanced-search-field").map(function (idx, element) {
                    var isPopulated = $(element).find("input").filter(function(idx, element) {
                            var val = $(element).val();
                            return val && val.length > 0;
                        }).length > 0;

                    if(isPopulated) {
                        var fieldNames = $(element).find("select option:selected").map(function (idx, element) {
                            return $(element).text();
                        }).get();
                        if (fieldNames.length > 0) {
                            return fieldNames[0]
                        }
                    }
                }).get();

                // count them
                var countMap = populatedFields.reduce(function (acc, val) {
                    acc[val] = (acc[val] || 0) + 1;
                    return acc;
                }, {});

                var dupeFields = [];
                for(var key in countMap) {
                    if(countMap[key] > 1) {
                        dupeFields.push(key);
                    }
                }

                if(dupeFields.length > 0) {
                    submitEvent.preventDefault();
                    var content = "<p>Your search tries to use the following field(s) more than once: " + dupeFields.join(", ") + ". This is not allowed.</p>";
                    content += "<p>Please fix this by combining your search terms into a single expression for the field(s) or by choosing different fields for the terms.</p>";
                    $("#advanced-search-error-dialog .modal-body").html(content);
                    $("#advanced-search-error-dialog").modal();
                }
            };

            $("form.advanced").submit(function(event) {
                $(".advanced-search-field").each(function (idx, container) {
                    if($(container).find("input[type=text]").length == 2) {
                        // range search
                        var start = $(container).find("input.start").val();
                        var end = $(container).find("input.end").val();
                        var input_name = ""
                        var input_value = "";
                        if(start || end) {
                            if (!start) { start = "*"; }
                            if (!end) { end = "*"; }
                            input_name = $(container).find("select").val();
                            input_value = "[" + start + " TO " + end + "]";
                        }
                        $(container).find("input[type=hidden]").attr("name", input_name);
                        $(container).find("input[type=hidden]").attr("value", input_value);
                    } else {
                        // text search
                        var input_element = $(container).find("input").first();
                        var input_name = "";
                        if($(input_element).val()) {
                            input_name = $(container).find("select").val();
                        }
                        $(input_element).attr("name", input_name);
                    }
                });

                validateForm(event);
            });
        });
    </script>
<% end %>

<div>

  <% limit = 0 %>
  <% prepopulated_search_fields_for_advanced_search(5, is_numeric: false).each do |fieldstruct| %>
      <%
        if fieldstruct.value.kind_of? Array
          fieldstruct.value.each do |val|
      %>
              <div class="form-group advanced-search-field">
                <div class="col-sm-7"><label><span class="visually-hidden">Search text</span>
                  <input class="form-control" name="" type="text" value="<%= val %>"/></label>
                </div>
                <div class="col-sm-1 label-alignment">in</div>
                <div class="col-sm-4"><label><span class="visually-hidden">Field to search</span>
                  <select class="form-control col-sm-3" id="text_field_<%= limit %>">
                    <%- fieldstruct.fields.each do |key, field_def| -%>
                        <option value="<%= key %>" <% if fieldstruct.selected_field == key %>selected="selected"<% end %>><%= field_def.label %></option>
                    <%- end -%>
                  </select></label>
                </div>
              </div>
          <%
            limit += 1
            break if limit >= 5
            end
            else
          %>
          <div class="form-group advanced-search-field">
            <div class="col-sm-7"><label><span class="visually-hidden">Search text</span>
              <input class="form-control" name="" type="text" value="<%= fieldstruct.value %>"/></label>
            </div>
            <div class="col-sm-1 label-alignment">in</div>
            <div class="col-sm-4"><label><span class="visually-hidden">Field to search</span>
              <select class="form-control col-sm-3" id="text_field_<%= limit %>">
                <%- fieldstruct.fields.each do |key, field_def| -%>
                    <option value="<%= key %>" <% if fieldstruct.selected_field == key %>selected="selected"<% end %>><%= field_def.label %></option>
                <%- end -%>
              </select></label>
            </div>
          </div>
      <%
        limit += 1
        break if limit >= 5
        end
        end
      %>

  <h3 class="query-criteria-heading">Dates:</h3>

  <% prepopulated_search_fields_for_advanced_search(5, is_numeric: true, min: 1).each do |fieldstruct| %>
      <div class="form-group advanced-search-field">
        <input type="hidden" name="" value=""/>
        <div class="col-sm-3"><label><span class="visually-hidden">start date</span>
          <input class="form-control start" id="numeric_start_<%= fieldstruct.index %>" type="text" value="<%= fieldstruct.value %>"/></label>
        </div>
        <div class="col-sm-1 label-alignment">to</div>
        <div class="col-sm-3"><label><span class="visually-hidden">end date</span>
          <input class="form-control end" id="numeric_end_<%= fieldstruct.index %>" type="text" value="<%= fieldstruct.value2 %>"/></label>
        </div>
        <div class="col-sm-1 label-alignment">in</div>
        <div class="col-sm-4"><label><span class="visually-hidden">date field to search</span>
          <select class="form-control col-sm-3" id="numeric_field_<%= fieldstruct.index %>">
            <%- fieldstruct.fields.each do |key, field_def| -%>
                <option value="<%= key %>" <% if fieldstruct.selected_field == key %>selected="selected"<% end %>><%= field_def.label %></option>
            <%- end -%>
          </select></label>
        </div>
      </div>

  <%- end -%>

</div>