<% @page_title = "Request Item" %>

<%= form_tag('/new_request', method: 'post') do |f| %>

  <%= hidden_field_tag("title", title) %>
  <div class="section">
    <div class="section-heading">
      <h1>Request Item</h1>
    </div>
    <div class="section-body">
      <div class="form-group clearfix"> 
        <%= label_tag(:title, 'Title', :class => 'control-label col-sm-6 col-md-2') %>
        <div class="col-sm-6 col-md-10">
          <p class="form-control-static"><%= title %></p>
        </div>
      </div>

      <%= submit_tag('Submit Request', :class => 'btn btn-default') %>
    </div>
  </div>

<% end %>
