<section id="item-request-widget">
  <div class="panel panel-default">
    <div class="panel-heading">
      Get It
    </div>
    <div class="panel-body">
      <form action="">
        <div class="form-group">
            <label for="request-item">Selection</label>
            <select name="request-item" id="request-item-select" class="form-control" data-mmsid="<%= document.alma_mms_id %>">
              <option value=""></option>
            </select>
        </div>
        <div class="form-group">
          <label for="">Delivery Method</label><br>
          <button type="submit" id="pap-request-button" class="btn btn-default request-button" value="pap" disabled>PickUp @ Penn</button>
          <button type="submit" id="bbm-request-button" class="btn btn-default request-button" value="bbm" disabled>Books by Mail</button>
          <button type="submit" id="sad-request-button" class="btn btn-default request-button" value="sad" disabled>Scan & Deliver</button>
          <button type="submit" id="ill-request-button" class="btn btn-default request-button hidden" value="ill">Interlibrary Loan</button>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title" id="exampleModalLabel">Confirm Request</div>
      </div>
      <div class="modal-body">
        <%= form_tag request_submit_path, method: :post, class: '' do %>
          <%= hidden_field_tag :item_pid, nil, id: 'requestItemPid' %>
          <%= hidden_field_tag :holding_id, nil, id: 'requestHoldingId' %>
          <%= hidden_field_tag :mms_id, nil, id: 'requestMmsId' %>
          <%= hidden_field_tag :delivery_method, nil, id: 'requestDeliveryMethod' %>
          <div class="form-group hidden">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
              <p class="form-control-static" id="requestItemTitle"></p>
            </div>
          </div>
          <div class="form-group hidden">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <p class="form-control-static" id="requestItemDescription"></p>
            </div>
          </div>
          <div class="form-group hidden">
            <label class="col-sm-3 control-label">Notes</label>
            <div class="col-sm-9">
              <p class="form-control-static" id="requestItemNote"></p>
            </div>
          </div>
          <div class="form-group hidden">
            <label class="col-sm-3 control-label">Due Date</label>
            <div class="col-sm-9">
              <p class="form-control-static" id="requestItemDueDate"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Deliver To</label>
            <div class="col-sm-9">
              <p class="form-control-static"><%= current_user.email %></p>
            </div>
          </div>
          <div class="form-group sad-field">
            <label for="section-title">Section Title</label>
            <input type="text" name="section_title" class="form-control" required>
          </div>
          <div class="form-group sad-field">
            <label for="section-title">Section Author</label>
            <input type="text" name="section_author" class="form-control" required>
          </div>
          <div class="form-group sad-field">
            <label for="section-title">Section Pages</label>
            <input type="text" name="section_pages" class="form-control" required>
          </div>
          <div class="form-group sad-field">
            <label for="section-title">Section Volume</label>
            <input type="text" name="section_volume" class="form-control">
          </div>
          <div class="form-group sad-field">
            <label for="section-title">Section Issue</label>
            <input type="text" name="section_issue" class="form-control">
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
