<section id="item-request-widget">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('requests.widget.title') %>
    </div>
    <div class="panel-body spinner">
      <form id="request-form">
        <div class="form-group">
            <label for="request-item-select"><%= t('requests.fields.selection') %></label>
            <select name="request-item" id="request-item-select" class="form-control" data-mmsid="<%= document.alma_mms_id %>">
              <option value=""></option>
            </select>
        </div>
        <div class="form-group">
          <div class="btn-toolbar" aria-label="Get It Options">
            <% if document['full_text_link_text_a']&.any? %>
              <%# TODO: what if multiple links?  %>
              <% link_object = JSON.parse(document['full_text_link_text_a'].first).first %>
              <% fulltext_link_url = link_object['linkurl'] %>
              <% fulltext_link_label = link_object['linktext'] %>
            <% end %>
            <button type="submit" id="print-request-button" class="btn btn-default request-button" value="print" style="display: none;" disabled><%= t('requests.buttons.print_request') %></button>
            <button type="submit" id="aeon-request-button" class="btn btn-default request-button" value="aeon" style="display: none;" disabled><%= t('requests.buttons.request_to_view') %></button>
            <button type="submit" id="electronic-request-button" class="btn btn-default request-button" style="display: none;"
                    value="electronic"<% if link_object %> data-fulltext-url="<%= fulltext_link_url %>" data-fulltext-label="<%= fulltext_link_label %>"<% end %> disabled>
              <%= t('requests.buttons.electronic_request') %>
            </button>
            <% if current_user %>
              <div id="requesting-logged-in" data-value="true"></div>
            <% else %>
              <div id="requesting-logged-in" data-value="false"></div>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login to See Requesting Options <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="<%= accounts_login_url(next: request.original_url) %>">Current faculty, student, staff login</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="https://guides.library.upenn.edu/franklinaccount#s-lg-box-19646803">Subscribed alumni and courtesy user login</a></li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </form>
      <pre id="selected-item-debug"></pre>
    </div>
  </div>
</section>

<div class="modal fade" id="confirm-modal"></div>
