<% success = @response.dig(:status) == :success  %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-title" id="submittedModalLabel"><%= success ? t('requests.modal_titles.submitted') : t('requests.modal_titles.submitted.failure') %></div>
    </div>
    <div class="modal-body">
      <% if success %>
        <div class="alert alert-success" role="alert">
          <%= t('requests.messages.request_complete') %>
        </div>
      <dl>
        <dt>
          <%= t('requests.fields.confirmation_number') %>
        </dt>
        <dd>
          <%= @response.dig :confirmation_number %>
        </dd>
      </dl>
      <% else %>
        <div class="alert alert-danger" role="alert">
          <%= @response.dig(:message) %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('requests.buttons.close') %></button>
    </div>
  </div>
</div>
