<% if collapsed %>
<section class="item-request-section-index">
  <button class='btn btn-primary btn-get-it toggle' data-mmsid='<%= document.alma_mms_id %>' aria-expanded="false" aria-controls="table-wrapper-<%= document.alma_mms_id %>">
    <span class="glyphicon glyphicon-th-list"></span> Options <span class="getit-caret glyphicon glyphicon-chevron-down"></span>
  </button>
<div class="panel panel-default" style="display:none;">
<% else %>
<section class="item-request-section-show">
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-th-list"></span> Options
  </div>
<% end %>
  <div class="panel-body">
    <div id="table-wrapper-<%= document.alma_mms_id %>">
      <table id="requestOptions-<%= document.alma_mms_id %>" class="request-options-load" data-mmsid="<%= document.alma_mms_id %>" style="width:100%" data-ordering="false">
        <thead>
        <tr>
          <th id="requestOptionsAvailability-<%= document.alma_mms_id %>">Source</th>
          <th aria-label="Holdings" id="holdingsAvailability-<%= document.alma_mms_id %>">Holdings</th>
          <th>Notes</th>
        </tr>
        </thead>
      </table>
      <%= render 'alma_request_options', document: document %>
    </div>
  </div>
</div>
</section>
