<% table_style='style=display:none;' if collapsed %>
<% if collapsed %>
  <button class='toggle btn btn-request-options' data-mmsid='<%= document.alma_mms_id %>'><span class="avail-label">Options</span></button>
<% end %>
<div id="table-wrapper-<%= document.alma_mms_id %>" <%= table_style %> >
  <%= render partial: 'alma_request_options', locals: { document: document } %>
  <table id="requestOptions-<%= document.alma_mms_id %>" class="request-options-load" data-mmsid="<%= document.alma_mms_id %>" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>Location</th>
        <th>Policy</th>
        <th id="requestOptionsAvailability-<%= document.alma_mms_id %>"></th>
        <th>Call Number</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>
  <table id="holdingItems-<%= document.alma_mms_id %>" class="holding-items-load" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Policy</th>
        <th>Status</th>
        <th>Barcode</th>
        <th></th>
        <th></th>
      </tr>
      </tr>
    </thead>
  </table>
</div>