<% table_style='style=display:none;' if collapsed %>
<div class="panel panel-default">
  <div class="panel-heading">
    <a href="#" class='toggle btn-request-options' data-mmsid='<%= document.alma_mms_id %>'><span class="avail-label">See Options</span></a>
  </div>
  <div class="panel-body" <%= table_style %>>
    <div id="table-wrapper-<%= document.alma_mms_id %>" <%= table_style %> >
      <table id="requestOptions-<%= document.alma_mms_id %>" class="request-options-load" data-mmsid="<%= document.alma_mms_id %>" style="width:100%">
        <thead>
        <tr>
          <th></th>
          <th>Location</th>
          <th id="requestOptionsAvailability-<%= document.alma_mms_id %>"></th>
          <th>Notes</th>
          <th>Your Loan Policy</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
      </table>
      <%= render 'alma_request_options', document: document %>
    </div>
  </div>
</div>
