<% # main container for facets/limits menu -%>
<%= render_expert_help(@response.aggregations['subject_specialists']) %>
<% if has_facet_values? %>
<div id="facets" class="facets sidenav">

  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <h2 class='facets-heading'>
      <%= t('blacklight.search.facets.title') %>
    </h2>
    <% display_facet_types = get_display_facet_types %>
    <% if display_facet_types.size > 1 %>
      <select id="facet-group-selector">
        <% select = true; display_facet_types.each do |k, v| %>
          <option value="<%= k %>"<%= select ? 'selected=true' : ''%>><%= v[:facet_type_config][:display] %></option>
        <% select = false; end %>
      </select>
    <% end %>
  </div>
  <div id="facet-panel-collapse" class="collapse panel-group">
    <% hide = false; display_facet_types.each do |facet_type, field_configs| %>
      <div id="facets_<%= facet_type %>" class="<%= hide ? 'hide facet-group' : 'facet-group' %>">
        <%= render_facet_partials(facet_field_names(facet_type), :facet_type => facet_type) %>
      </div>
    <% hide = true; end %>
  </div>
</div>
<% end %>
