<%# this overrides Blacklight's default _facet_pagination.html.erb to fix a bug that displayed
    an errant </span> tag %>
<div class="prev_next_links btn-group pull-left">
  <%= link_to_previous_page @pagination, raw(t('views.pagination.previous')), params: search_state.to_h, param_name: blacklight_config.facet_paginator_class.request_keys[:page], class: 'btn btn-link', data: { ajax_modal: "preserve" } do %>
    <%= content_tag :span, raw(t('views.pagination.previous')), class: 'disabled btn btn-disabled' %>
  <% end %>

  <%= link_to_next_page @pagination, raw(t('views.pagination.next')), params: search_state.to_h, param_name: blacklight_config.facet_paginator_class.request_keys[:page], class: 'btn btn-link',  data: { ajax_modal: "preserve" } do %>
    <%= content_tag :span, raw(t('views.pagination.next')), class: 'disabled btn btn-disabled' %>
  <% end %>
</div>

<div class="sort_options btn-group pull-right">
  <%= modal_sort_options @pagination, @facet %>
</div>
