<div class="container">

<div class="row">

    <div class="col-sm-3 bento-box catalog-results" id="bento-results-catalog">
      <a name="catalog"></a>
      <div class="corner left-top hide"></div>
      <div class="corner right-top hide"></div>
      <h3>Catalog</h3>
      <div class="view-and-filter text-right">
        <%= link_to "View and filter #{number_with_delimiter(@response.total)} #{@response.total != 1 ? 'results' : 'result'}", search_catalog_path(q: params[:q] || params[:query], search_field: 'keyword') %>
      </div>
      <%= bento_search 'catalog', :query => params[:q] || '', :per_page => 5, :load => :ajax_auto %>
    </div>

    <div class="col-sm-3 bento-box summon-results ezproxy-login-status" id="bento-results-summon">
      <a name="articles"></a>
      <div class="corner left-top hide"></div>
      <div class="corner right-top hide"></div>
      <h3>Articles+</h3>
      <%= bento_search 'summon', :query => params[:q] || '', :per_page => 5, :load => :ajax_triggered %>
    </div>

    <div class="col-sm-3 bento-box databases-results" id="bento-results-databases">
      <a name="databases"></a>
      <div class="corner left-top hide"></div>
      <div class="corner right-top hide"></div>
      <h3>Databases</h3>
      <%= bento_search 'databases', :query => params[:q] || '', :per_page => 5, :load => :ajax_auto, :f_term => 'format_f', :f_value => 'Database/Website' %>
    </div>

    <div class="col-sm-3 bento-box expert-results" id="bento-results-expert">
      <h3>Expert help</h3>
      <hr />
      <div class="expert-profile">
        <%= image_tag 'cedrone.jpg', :alt => 'Melanie Cedrone' %>
        <div class="upper-content">
          <%= link_to 'Melanie Cedrone', profile_url('Melanie Cedrone'), :class => 'link-to-profile' %>
          <p class="title">Collections Librarian &amp; Biology Liaison</p>
          <%= link_to 'mcedrone@upenn.edu', 'mcedrone@upenn.edu' %>
        </div>
        <div class="lower-content">
          <p>Biomedical Library</p>
          <p><%= link_to '215-898-1862', '215-898-1862' %></p>
          <div class="expert-areas-list">
            <h4>Contact me for assistance with:</h4>
            <ul>
              <li>Earth &amp; Environmental Science</li>
              <li>General science</li>
              <li>Biology</li>
              <li>Biomedical research</li>
              <li>Medicine</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 bento-box google-results" id="bento-results-google">
      <a name="website"></a>
      <div class="corner left-top hide"></div>
      <div class="corner right-top hide"></div>
      <h3>Library website</h3>
      <%= bento_search 'google_site_search', :query => params[:q] || '', :per_page => 5, :load => :ajax_auto %>
    </div>
  </div>
</div>
