<div class="container-fluid">
  <div class="row bento-all">
    <%= render 'bento_search/catalog' %>
    <%= render 'bento_search/articles' %>
    <%# keep these result boxes in their own column %>
    <div class="col col-md-4 col-lg-4 libraries-results" id="bento-results-libraries">
      <%= render 'bento_search/databases' %>
      <%= render 'bento_search/colenda' %>
      <%= render 'bento_search/website' %>
    </div>
    <%# render_expert_help(@response.aggregations["subject_specialists"]) %>
  </div>
</div>
