<tr>
  <td>
    <%= request['LoanTitle'] || request['PhotoJournalTitle'] %>
  </td>
  <td>
    <%= request['LoanAuthor'] %>
  </td>
  <td>
    <%= request['RequestType'] %>
  </td>
  <td>
    <%= request['TransactionStatus'] %>
  </td>
  <td>
    <%= request['CreationDate'] %>
  </td>
  <td>
    <%= link_to 'View', ill_path(request['TransactionNumber']), class: 'btn btn-sm btn-primary' %>
  </td>
</tr>
