<%# this should receive an iterable _results_ and render an item entry for the bento %>
<% results.each do |result| %>
<div class="bento_item" data-unique-id="">
  <h4 class="bento_item_title">
    <%= link_to result['title'], solr_document_path(result['id']) %>
  </h4>
  <div class="bento_item_body">
    <dl class="document-metadata dl-horizontal dl-invert">
      <dd>
        <span class="author">
          <%= result['author_creator_a']&.first %>
        </span>
      </dd>
      <dd>
        <span class="publisher">
          <%= result['publication_a']&.first %>
        </span>
      </dd>
      <dd>
        <span class="format">
          <%= result['format_a']&.first %>
        </span>
      <% if result.print_holdings? %>
      <dd><%= print_holding_info_for result %></dd>
      <% end %>
      <% if result.electronic_holdings? %>
      <dd><%= online_holding_info_for result %></dd>
      <% end %>
    </dl>
  </div>
</div>
<% end %>
<div class="view-all">
  <%= link_to(
        "View all results #{image_tag('view_all_arrow.png', alt: 'View All Results icon')}".html_safe,
        search_catalog_path(q: params[:q] || params[:query], search_field: 'keyword')
      )
  %>
</div>